@import "global";

$color: #3B5998;

@mixin text-container($level, $font-size) {
	font-size : $font-size;
	margin: 5px;
	margin-left: 30px * $level;
	color: $color;
}

.header-container {
	@include center-this;
	
	position: relative;
	border-bottom: $border;
	width: 800px;
	height: 130px;
	margin-bottom: 30px;
	
	$picture-left: 80px;
	$picture-width: 125px;
	$picture-bottom: -20px;
	
	div.picture-container {
		@include picture-container;
		
		bottom: $picture-bottom; 
		left: $picture-left; 
		width: $picture-width; 
		height: 125px; 
	}
	
	.like-container {
		position: absolute;
		bottom: 10px;
		left: $picture-left - 60;
	}
	
	.status-container {
		color: $color;
		font-size: 12px;
		font-weight: normal;
	}
	
	.content-container {
		font-size: 25px;
		position: absolute;
		left: $picture-left + $picture-width + 35;
		bottom: 2px;
		
		.link-container {
			@include text-container(1, 11px);
		}
		
		
	}
	
}
