$border-color: #C4CDE0;
$border: 1px solid $border-color;
$thick-border: 2px solid $border-color;

$profile-picture-left: 30px;
$profile-picture-width: 125px;

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

body {
	font-family: Arial, Helvetica, Times New Roman, sans-serif;
	font-size: 14px;
	text-align: center;
}

.centered-container {
	text-align: left;
	margin: 0 auto;
}

.header-container {
	@extend .centered-container;
	position: relative; 
	border-bottom: $border; 
	width: 800px;
	height: 130px;
	margin-bottom: 30px;
}

.picture-container {
	border-radius: 3px;
	border: $border;
	position: absolute;
	background-color: white; 
	overflow: hidden;
}

.profile-picture-container {
	@extend .picture-container;
	bottom: -20px; 
	left: $profile-picture-left; 
	width: $profile-picture-width; 
	height: 125px; 
}

.profile-picture {
	width: 100%;
	height: auto;
}

.header {
	font-weight: bold;
	color: #3B5998;
}

.name-container {
	@extend .header;
	font-size: 25px;
	position: absolute;
	left: $profile-picture-left + $profile-picture-width + 35;
	bottom: 30px;
}

.timeline-container {
	@extend .centered-container;
	width: 700px;
	margin-bottom: 50px;
}

.timeline-date-cell {
	@extend .header;
	width: 80px;
	vertical-align: text-top;
	border-top: $border;
	border-right: $border;
	padding: 5px;
	text-align: right;
}

.timeline-date-cell-year {
	@extend .timeline-date-cell;
	font-size: 25px;
	//border-top: $thick-border;
}

.timeline-date-cell-month {
	@extend .timeline-date-cell;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
}

td.timeline-content-cell-month {
	border: $border;
	padding: 0 0 20px 0;
	position: relative;
}

.timeline-content-cell-year {
	@extend .timeline-content-cell-month;
}

.timeline-content-container {
	background-color: #D8DFEA; 
	position: relative; 
	border-bottom: $border; 
	border-top: $border; 
	height: 30px; 
	margin-top: 25px;
	//cursor: pointer;
}

$timeline-picture-width: 50px;
$timeline-picture-height: 50px;
$timeline-picture-left: 10px;

.timeline-picture-container {
	@extend .picture-container;
	position: absolute; 
	left: $timeline-picture-left; 
	bottom: -10px;
	width: $timeline-picture-width;
	height: $timeline-picture-height;
}

.timeline-title-container {
	@extend .header;
	position: absolute; 
	left: $timeline-picture-width + $timeline-picture-left + 10; 
	bottom: 8px; 
	font-size: 12px; 
	width: 530px;
	cursor: default;
}

.timeline-title-left {
	float: left;
}

.timeline-title-right {
	text-align: right;
}

li.timeline-highlight {
	margin: 4px;
	list-style-type: disc;
	list-style-position: inside;
	text-align: left;
	font-size: 13px;
}

ul.timeline-highlight {
	margin: 2px 0 2px 0;
}

div.timeline-highlight-wrapper {
	width: 100%; 
	position: relative; 
	display: none;
	z-index: 1000;
}

div.timeline-highlight-container {
	position: absolute; 
	right: 10px; 
	border-radius: 0 0 5px 5px; 
	border: $border;
	width: 520px;
	padding: 15px;
	background-color: white;
	border-top: 0;
	color: #3B5998;
}
